@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #08111f;
  background: #f4f8ff;
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}
